body {
   /* запрещает выделять текст на страничке */
   user-select: none;
   /* никаких отступов  */
   margin: 0;
   /* залит прозрачным черным, чтобы картинка была чуть темнее */
   background-color: #0000001a;
}

html {
   /* красивенький шрифт */
   font-family: notperfect regular;
   /* задний фон - картинка с инета */
   background: url("https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials.jpg");
   /* Чтобы картинка растянулась по экрану */
   background-repeat: round;
   /* чтобы картинка не прокручивалась вместе со страницей */
   background-attachment: fixed;
}

/* главный горизонтальный контейнер */

.container-row {
   /* занимает 100% экрана в ширину */
   width: 100%;
   /* и в высоту */
   height: 100%;
   /* определает, что это контейнер */
   display: flex;
   /* задает направление контейнеру */
   flex-direction: row;
}

/* вертикальный контейнер с кнопочками */

.container-column {
   /* Чтобы контейнер с кнопочками занимал 17% экрана */
   width: 17%;
   /* заливка этого контиейнера */
   background-color: #d9d9d91c;
   /* определает, что это контейнер */
   display: flex;
   /* задает направление контейнеру */
   flex-direction: column;
   /* внутренний отступ сверху, чтобы кнопочки чуть отодвинулись вниз */
   padding-top: 15px;
}

/* стили кнопочек */

.container-column div {
   /* размер шрифта */
   font-size: 28px;
   /* Внешние отступы */
   margin: 1% 3% 1% 3%;
   /* внутренние отступы */
   padding: 15px 0 15px 0;
   /* скругление границ  */
   border-radius: 100vh;
   /* ширина */
   width: 94%;
   /* цвет заливки */
   background-color: #f15757;
   /* цвет текста */
   color: rgb(236, 167, 167);
   /* расположение текста */
   text-align: center;
   /* все анимации */
   transition: all .6s cubic-bezier(0.115, 0.610, 0.355, 1);
}

/* изменения кнопочек, когда наводишь мышкой */

.container-column div:hover {
   /* меняем цвет текста */
   color: rgb(165, 165, 165);
   /* и цвет заливки */
   background-color: #c44949;
   /* опять говорим чтобы это медленно изменялось */
   transition: all .6s cubic-bezier(0.115, 0.610, 0.355, 1);
}

/* изменения, когда тыкаешь по кнопочке */

.container-column div:active {
   /* меняем цвет заливки */
   background-color: #a74343;
   /* Чтобы изменения проходили плавно */
   transition: all .1s cubic-bezier(0.115, 0.910, 0.355, 1);
}

a {
   /* убираем бесящее подчеркивание текста в ссылках */
   text-decoration: none;
}